* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: Raleway;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================================================*/
.wrapper {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*==============================================================*/
.__conteiner {
  max-width: 1240px;
  margin: 0px auto;
}

/*===========================HEADER===================================*/
.header {
  position: absolute;
  width: 100%;
  top: 55px;
  z-index: 50;
}
.header .header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 480px;
}
.header a {
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400px;
  line-height: 20px;
  line-height: 30px;
  color: #FFFFFF;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.75, -1, 0.21, -1);
          transition-timing-function: cubic-bezier(0.75, -1, 0.21, -1);
}
.header a:hover {
  border-bottom: 4px solid #FFFFFF;
}

/*===========================BANNER===================================*/
.banner {
  height: 696px;
  background-image: url(../img/banner/banner-bg.png);
  z-index: 100;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 50% 100%;
  margin-bottom: 82px;
}
.banner .banner__content {
  margin: 0 auto;
  width: 823px;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner .banner__content .text {
  margin-top: 82px;
}
.banner .banner__content .text__title {
  font-family: Oswald;
  font-weight: 400;
  line-height: 60px;
  color: #000000;
  font-size: 60px;
  width: 414px;
  margin-bottom: 40px;
}
.banner .banner__content .text__subtitle {
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400px;
  line-height: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 52px;
}
.banner .banner__content a {
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400px;
  line-height: 20px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 14px 26px;
  background-color: #68B738;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.banner .banner__content a:hover {
  background: #FDC305;
}

/*===========================MASS===================================*/
.mass {
  margin-bottom: 70px;
}

.mass__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mass__conteiner .weight-loss, .mass__conteiner .weight-gain {
  width: 570px;
  background-color: #F2F2F2;
  position: relative;
}
.mass__conteiner .weight-loss a, .mass__conteiner .weight-gain a {
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400px;
  line-height: 20px;
  line-height: 30px;
  width: 168px;
  color: #000000;
  background-image: url(../img/mass/arrow.svg);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-left: 52px;
  margin-bottom: 60px;
}
.mass__conteiner .weight-loss a:hover, .mass__conteiner .weight-gain a:hover {
  width: 190px;
}
.mass__conteiner .weight-loss__title {
  font-family: Oswald;
  font-weight: 400;
  line-height: 60px;
  color: #000000;
  font-size: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 73px;
  display: inline-block;
  margin-top: 77px;
  margin-left: 214px;
}
.mass__conteiner .weight-loss__title::before {
  content: "";
  background-image: url(../img/mass/cat.svg);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  position: absolute;
  top: 47px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #68B738;
  display: inline-block;
  left: 40px;
}
.mass__conteiner .weight-loss__subtitle {
  font-family: "Arial";
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
  color: #000000;
  margin-bottom: 27px;
  padding-left: 52px;
}
.mass__conteiner .weight-gain__title {
  font-family: Oswald;
  font-weight: 400;
  line-height: 60px;
  color: #000000;
  font-size: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 73px;
  display: inline-block;
  margin-top: 77px;
  margin-left: 214px;
}
.mass__conteiner .weight-gain__title::before {
  content: "";
  background-image: url(../img/mass/tigre.svg);
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: center;
  position: absolute;
  top: 47px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #68B738;
  display: inline-block;
  left: 40px;
}
.mass__conteiner .weight-gain__subtitle {
  font-family: "Arial";
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
  color: #000000;
  margin-bottom: 27px;
  padding-left: 52px;
}

/*===========================FUNCTIONAL===================================*/
.functional {
  margin-bottom: 70px;
}

.functional__conteiner .fuunctional__title {
  font-family: Oswald;
  font-weight: 400;
  line-height: 60px;
  color: #000000;
  font-size: 60px;
  margin-bottom: 72px;
}
.functional__conteiner .functional__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.functional__conteiner .card {
  width: 246px;
  height: 280px;
}
.functional__conteiner .one {
  background-image: url(../img/functional/bg_1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.functional__conteiner .two {
  background-image: url(../img/functional/bg_2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.functional__conteiner .three {
  background-image: url(../img/functional/bg_3.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.functional__conteiner .for {
  background-image: url(../img/functional/bg_4.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.functional__conteiner img {
  margin-bottom: 31px;
}
.functional__conteiner p {
  width: 227px;
  font-family: "Arial";
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
}

/*===========================EXAMPLE===================================*/
.example {
  background-color: #F2F2F2;
  padding: 75px 0;
}

.example__block {
  margin: 0 auto;
  width: 436px;
}
.example__block h2 {
  font-family: Oswald;
  font-weight: 400;
  line-height: 60px;
  color: #000000;
  font-size: 60px;
  margin-bottom: 70px;
}
.example__block .example__subtitle {
  font-family: "Arial";
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
  margin-bottom: 70px;
}
.example__block .example__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 366px;
}
.example__block .example__description p {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  padding: 15px 57px;
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400px;
  line-height: 20px;
  line-height: 30px;
  margin-bottom: 60px;
}
.example__block .example__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 327px;
}
.example__block .example__about p {
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400px;
  line-height: 20px;
  line-height: 30px;
}

.line {
  border-bottom: 1px solid #CDCDCD;
}

/*===========================FOOTER===================================*/
.footer {
  height: 150px;
}
.footer .footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
}
.footer .footer__conteiner .footer__icons {
  width: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}