@mixin mainTitleStyles {
    font-family: Oswald;
    font-weight: 400;
    line-height: 60px;
    color: $main-text-color;
    font-size: $main-font-size;
}

@mixin textBtnStyle {
    font-family: Oswald;
    font-size: $btn-font-size;
    text-transform: uppercase;
    font-weight: 400px;
    line-height: 20px;
    line-height: 30px;
}

@mixin secondaryTitleStyles {
    font-family: Oswald;
    font-weight: 400;
    line-height: 60px;
    color: $main-text-color;
    font-size: $secondary-font-size;
    color: $main-text-color;
    text-transform: uppercase;
}

@mixin descriptionTextStyles {
    font-family: 'Arial';
    line-height: 24px;
    font-weight: 400;
    font-size: $description-font-size;
    color: $text-color-secondary;
}