@import "nullstyle.scss";
@import "variables.scss";
@import "mixins.scss";

/*===================================================*/

.wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

        .main {
        flex: 1 1 auto;
    }
}


/*==============================================================*/
.__conteiner {
    max-width: 1240px;
    margin: 0px auto;
}

/*===========================HEADER===================================*/

.header {
    position: absolute;
    width: 100%;
    top: 55px;
    z-index: 50;
        .header__conteiner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 480px;
        }

        a {
            @include textBtnStyle;
            color: $text-color-btn;
            transition-property: all;
            transition-duration: 0.2s;
            transition-delay: 0s;
            transition-timing-function: cubic-bezier(0.75, -1, 0.21, -1);

                &:hover {
                    border-bottom: 4px solid #FFFFFF;
                }
        }
}



/*===========================BANNER===================================*/

.banner {
    height: 696px;
    background-image: url(../img/banner/banner-bg.png);
    z-index: 100;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 50% 100%;
    margin-bottom: 82px;    

        .banner__content {
            margin: 0 auto;
            width: 823px;
            padding-top: 150px;
            display: flex;
            justify-content: space-between;

                .text {
                    margin-top: 82px;
                }

                .text__title {
                    @include mainTitleStyles;
                    width: 414px;
                    margin-bottom: 40px;
                }

                .text__subtitle {
                    @include textBtnStyle;
                    color: $main-text-color;
                    margin-bottom: 52px;
                }

                a {
                    @include textBtnStyle;
                    color: $text-color-btn;
                    padding: 14px 26px;
                    background-color: #68B738;
                    transition: all 0.3s;

                        &:hover {
                            background: #FDC305;
                        }
                }
        }
}


/*===========================MASS===================================*/

.mass {
    margin-bottom: 70px;
}

.mass__conteiner {
    display: flex;
    justify-content: space-between;


    .weight-loss, .weight-gain {
        width: 570px;
        background-color: $bg-color;
        position: relative;

            a {
                @include textBtnStyle;
                width: 168px;
                color: $main-text-color;
                background-image: url(../img/mass/arrow.svg);
                background-position-x: right;
                background-position-y: center;
                background-repeat: no-repeat;
                display: inline-block;
                transition: all 0.2s;
                margin-left: 52px;
                margin-bottom: 60px;

                    &:hover {
                        width: 190px;
                    }
            }
    }


        .weight-loss__title {
            @include secondaryTitleStyles;
            margin-bottom: 73px;
            display: inline-block;
            margin-top: 77px;
            margin-left: 214px;

            &::before {
                content: "";
                background-image: url(../img/mass/cat.svg);
                background-repeat: no-repeat;
                background-size: 60px;
                background-position: center;
                position: absolute;
                top: 47px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #68B738;
                display: inline-block;
                left: 40px;
            }
        }

        .weight-loss__subtitle {
            @include descriptionTextStyles;
            color: #000000;
            margin-bottom: 27px;
            padding-left: 52px;
        }



        .weight-gain__title {
            @include secondaryTitleStyles;
            margin-bottom: 73px;
            display: inline-block;
            margin-top: 77px;
            margin-left: 214px;
            

            &::before {
                content: "";
                background-image: url(../img/mass/tigre.svg);
                background-repeat: no-repeat;
                background-size: 90px;
                background-position: center;
                position: absolute;
                top: 47px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #68B738;
                display: inline-block;
                left: 40px;
            }
        }

        .weight-gain__subtitle {
            @include descriptionTextStyles;
            color: #000000;
            margin-bottom: 27px;
            padding-left: 52px;
        }
}


/*===========================FUNCTIONAL===================================*/

.functional {
    margin-bottom: 70px;
}

.functional__conteiner {

        .fuunctional__title {
            @include mainTitleStyles;
            margin-bottom: 72px;
        }

        .functional__cards {
            display: flex;
            justify-content: space-between;
        }

        .card {
            width: 246px;
            height: 280px;
        }

        .one {
            background-image: url(../img/functional/bg_1.png);
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }

        .two {
            background-image: url(../img/functional/bg_2.png);
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }

        .three {
            background-image: url(../img/functional/bg_3.png);
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }

        .for {
            background-image: url(../img/functional/bg_4.png);
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }

        img {
            margin-bottom: 31px;
        }

        p {
            width: 227px;
            @include descriptionTextStyles;
        }
}


/*===========================EXAMPLE===================================*/

.example {
    background-color: $bg-color;
    padding: 75px 0;
}


.example__block {
    margin: 0 auto;
    width: 436px;

        h2 {
            @include mainTitleStyles;
            margin-bottom: 70px;
        }

        .example__subtitle {
            @include descriptionTextStyles;
            margin-bottom: 70px;
        }

        .example__description {
            display: flex;
            justify-content: space-between;
            width: 366px;

                p {
                    border: 1px solid #CDCDCD;
                    border-radius: 3px;
                    padding: 15px 57px;
                    @include textBtnStyle;
                    margin-bottom: 60px;
                }
        }

        .example__about {
            display: flex;
            justify-content: space-between;
            width: calc(174px + 90px + 63px);
                p {
                    @include textBtnStyle;
                }
        }

}


.line {
    border-bottom: 1px solid #CDCDCD;
}


/*===========================FOOTER===================================*/


.footer {
    height: 150px;


        .footer__conteiner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 64px;

                .footer__icons {
                    width: calc(28px + 81px + 13px);
                    display: flex;
                    justify-content: space-between;
                }
        }
}

