// text color
$main-text-color: #000000;
$text-color-btn: #FFFFFF;
$text-color-secondary: #444444;

// font size
$main-font-size: 60px;
$secondary-font-size: 36px;
$btn-font-size: 20px;
$description-font-size: 16px;

// bg color
$bg-color: #F2F2F2;